@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

$main-Background: hsl(233, 47%, 7%);
$card-Background: hsl(244, 38%, 16%);
$accent: hsl(277, 64%, 61%);
$main-Heading: hsl(0, 0%, 100%);
$main-Paragraph: hsla(0, 0%, 100%, 0.75);
$stat-Headings: hsla(0, 0%, 100%, 0.6);

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  list-style-type: none;
}

body {
  min-height: 100vh;
  background-color: $main-Background;
  display: flex;
  align-items: center;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

.card {
  background-color: $card-Background;
  display: grid;
  grid-template-columns: 0.9fr 0.75fr;
  border-radius: 1%;
  overflow: hidden;
  margin: 3rem;
}

.imageDiv {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: multiply;
    opacity: 0.7;
  }
  background-color: $accent;
}

.textComponent {
  margin-right: 4em;
  padding: 12%;
  font-family: "Inter";
}

.textComponent h1 {
  color: white;
  padding-bottom: 1em;
  word-spacing: 0.1rem;
  font-size: 2rem;
}

.textComponent h1 span {
  color: $accent;
}

.textComponent #mainParagraph {
  color: $main-Paragraph;
  opacity: 0.8;
  font-size: 15px;
  line-height: 1.8em;
}

.cardStats ul {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

.cardStats ul li h3 {
  font-size: 1.5rem;
  color: white;
  line-height: 2.5rem;
}

.cardStats ul li p {
  color: $stat-Headings;
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
}

@media screen and (max-width: 425px) {
  body {
    text-align: center;
  }
  .card {
    grid-template-columns: 1fr;
    margin: 2em;
  }

  .imageDiv {
    order: -1;
  }

  .cardStats {
    display: grid;
    grid-template-rows: 1fr;
  }

  .textComponent {
    margin-right: 0;
  }

  .textComponent h1 {
    font-size: 36px;
    line-height: 1.3em;
  }

  .cardStats ul {
    flex-direction: column;
    padding-top: 15px;
  }
  .cardStats ul li {
    padding-top: 15px;
  }
}
